html, body {
  overflow-x: hidden !important;
  width: 100% !important;
}

body, .custom-bg-color {
  background-color: #CADFE7;
}

h1 {
  color: #59312D !important;
  font-family: 'Yeseva One', cursive !important;
}

h2 {
  color: #59312D !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: lighter;
  margin-top: 16px;
}

h5 {
  font-family: 'Josefin Sans', sans-serif !important;
}

h5, a, i.icon {
  color: #6F3E3A !important
}

#gallery {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 0;
}

#info {
  margin: 75px auto 55px;
}

.josefin, #info, #story {
  font-family: 'Josefin Sans', sans-serif !important;
}

.imagebg {
  width: 100%;
  min-height: 250px;
}

.hide-for-desktop {
  display: none;
}

@media (max-width: 767px) {
  #gallery {
    margin-top: 15px;
  }

  #info {
    margin: 40px auto 45px;
  }

  #story .lead {
    font-size: 1.15em;
  }

  #gifts section {
    padding: 0px;
  }

  #gifts .lead {
    margin-top: 45px;
  }

  .hide-for-mobile {
    display: none;
  }

  .hide-for-desktop {
    display: block;
  }
}
