:root {
  --light-blue: #CADFE7;
  --hard-cherry: #59312D;
  --light-cherry: #6F3E3A;
  --low-grad: #F0FAF9;
}

html, body {
  background-color: var(--low-grad);
  overflow-x: hidden !important;
  width: 100% !important;
}

footer {
  background-color: var(--low-grad);
}

img {
  pointer-events: none;
}

h1 {
  color: var(--hard-cherry) !important;
  font-family: 'Yeseva One', cursive !important;
}

h2 {
  color: var(--hard-cherry) !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: lighter;
  margin-top: 16px;
}

h5 {
  font-family: 'Josefin Sans', sans-serif !important;
}

h5, a, i.icon {
  color: var(--light-cherry) !important
}

.greenery {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.greenery img, .footer-greenery img,  {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  display: none;
}


.greenery-top {
  position: absolute;
  width: 100%;
  max-width: none !important;
  top: 0;
}

.greenery-left {
  position: absolute;
  left: 0;
}

.greenery-right {
  position: absolute;
  right: 0;
}

.greenery-bottom-left {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);

  position: absolute;
  bottom: 0;
  mix-blend-mode: soft-light;
}

.greenery-bottom-right {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);

  position: absolute;
  bottom: 0;
  right: 0;
  mix-blend-mode: soft-light;
}

.footer-greenery {
  position: relative;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#hr {
  position: relative;
  overflow-x: hidden;
}

#start {
  background: linear-gradient(180deg, var(--low-grad) 0%, var(--light-blue) 100%);
}

#gallery section{
  padding-top: 80px;
  padding-bottom: 0;
}

#info {
  margin: 75px auto 55px;
}

#confirmation {
  background: var(--light-blue);
  background: linear-gradient(180deg, var(--light-blue) 0%, var(--low-grad) 100%);
}

#confirmation .btn {
  background-color: var(--light-cherry);
  letter-spacing: .8px;
}

#confirmation .btn__text {
  color: var(--light-blue) !important;
}

.josefin, #info, #story, #confirmation {
  font-family: 'Josefin Sans', sans-serif !important;
}

.light--blue {
  background-color: var(--light-blue);
}

.imagebg {
  width: 100%;
  min-height: 250px;
}

.hide-for-desktop {
  display: none;
}

.above {
  z-index: 9999 !important;
}

.bellow {
  z-index: 10 !important;
}

@media (max-width: 767px) {
  section.cover {
    padding-top: 50px !important;
  }

  #info {
    margin: 40px auto 45px;
  }

  #story .lead, #confirmation .lead {
    font-size: 1.15em;
  }

  #gifts section {
    padding: 0px;
  }

  #gifts .lead {
    margin-top: 45px;
  }

  .hide-for-mobile {
    display: none;
  }

  .hide-for-desktop {
    display: block;
  }
}
