:root {
  --light-blue: #CADFE7;
  --hard-cherry: #59312D;
  --light-cherry: #6F3E3A;
  --low-grad: #F0FAF9;
}

html, body {
  background-color: var(--light-blue);
  overflow-x: hidden !important;
  width: 100% !important;
}

footer {
  background-color: var(--low-grad);
}

h1 {
  color: var(--hard-cherry) !important;
  font-family: 'Yeseva One', cursive !important;
}

h2 {
  color: var(--hard-cherry) !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: lighter;
  margin-top: 16px;
}

h5 {
  font-family: 'Josefin Sans', sans-serif !important;
}

h5, a, i.icon {
  color: var(--light-cherry) !important
}

#start {
  background: linear-gradient(180deg, var(--low-grad) 0%, var(--light-blue) 100%);
}

#start .flowers {
  background-image: url(../img/flowers.png);
  background-size: 100% 100%;
  position: absolute;
  top: -13.6%;
  right: -8.7%;
  width: 120%;
  height: 130%;
  max-width: 120%;
  filter: grayscale(65%);
  -webkit-filter: grayscale(65%);
  -moz-filter: grayscale(65%);
}

#gallery section{
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 0;
}

#info {
  margin: 75px auto 55px;
}

#confirmation {
  background: var(--light-blue);
  background: linear-gradient(180deg, var(--light-blue) 0%, var(--low-grad) 100%);
}

#confirmation .btn {
  background-color: var(--light-cherry);
  letter-spacing: .8px;
}

#confirmation .btn__text {
  color: var(--light-blue) !important;
}

.josefin, #info, #story, #confirmation {
  font-family: 'Josefin Sans', sans-serif !important;
}


.imagebg {
  width: 100%;
  min-height: 250px;
}

.hide-for-desktop {
  display: none;
}

.above {
  z-index: 9999 !important;
}

.bellow {
  z-index: 10 !important;
}

@media (max-width: 767px) {
  section.cover {
    padding-top: 50px !important;
  }

  #gallery {
    margin-top: 15px;
  }

  #info {
    margin: 40px auto 45px;
  }

  #story .lead, #confirmation .lead {
    font-size: 1.15em;
  }

  #gifts section {
    padding: 0px;
  }

  #gifts .lead {
    margin-top: 45px;
  }

  .hide-for-mobile {
    display: none;
  }

  .hide-for-desktop {
    display: block;
  }
}
